"ELIF"

- ELIF kepanjangan dari else,if
- elif merupakan alternatif untuk if bertingkat
- sebuah if statement dapat diikuti satu atau lebih statemen elif(opsional & tidak dibatasi)

In [1]:
nilai = int(input("berapa nilai anda : "))

if nilai >= 80:
    print("anda mendapat nilai A")
elif nilai >= 60:
    print("anda mendapat nilai B")
else:
    print("anda mendapat nilai C")

berapa nilai anda : 80
anda mendapat nilai A

TASK1 JUMAT

In [5]:
IMT = float(input("nilai IMT : "))

if IMT <=17:
    print("kategori sangat kurus")
elif IMT <=18.5:
    print("kategori kurus")
elif IMT <=25.0:
    print("kategori normal")
elif IMT <= 27:
    print("kategori gemuk(overweight)")
else:
    print("kategori gemuk (obesitas)")

nilai IMT : 27
kategori gemuk(overweight)

  "FOR"

CONTOH FOR (STRING)

In [2]:
for i in 'data':
    print("huruf {}". format(i))

huruf d
huruf a
huruf t
huruf a

CONTOH FOR (LIST)

In [4]:
color = ['merah','kuning','hijau']
for i in color:
    print("warna {}".format(i))

warna merah
warna kuning
warna hijau

CONTOH FOR BERTINGKAT

In [18]:
for row in range(3):
    for col in range(3):
        if row == 0 and col <= 2:
            print("*", end = " ")
        elif row == 1 and col <= 1:
            print("*", end = " ")
        elif row == 2 and col == 0:
            print("*", end = " ")
    print()

* * *
* *
*

CONTOH FOR (RANGE)

In [3]:
for i in range(3):
    print(i)

0
1
2

TASK2 HAR JUMAT

In [ ]:
for i in 'myedusolve':
    print("huruf {}".format(i))

In [ ]:
anggota =['daniel','diyah','aulia'] 
    
for i in anggota:
    print("anggota {}".format(i))

TASK3 HARI JUMAT

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [8]:
for x in range(10,15):
    print(x)

10
11
12
13
14

TASK4 HARI JUMAT

In [19]:
for row in range(5):
    for col in range(5):
        if row == 0 and col <= 4:
            print("*", end = " ")
        elif row == 1 and col <= 3:
            print("*", end = " ")
        elif row == 2 and col <= 2:
            print("*", end = " ")
        elif row == 3 and col <= 1:
            print("*", end = " ")
        elif row == 4 and col == 0:
            print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*