In [1]:
a = "Data Science"

In [2]:
print(a[2])

#mengambil karakter ketiga pada string a

t

In [3]:
print(a[5:12])

#mengambil karaktr keenam hingga duabelas dari string a

Science

In [4]:
a[3]= "o"

#mengubah karakter keempat dari string a, seharusnya error karena immutable

TypeError: 'str' object does not support item assignment

In [5]:
b = ["d", "a", "t", "a"]

In [6]:
print(b)

['d', 'a', 't', 'a']

In [7]:
b[3]

'a'

In [9]:
b[3] = "o"
print(b)

#dapat merubah karena string dalam list

['d', 'a', 't', 'o']

TUPLE
tuple adalah jenis dari list yang tidak dapa diubah elemenya.umumnya tuple di gunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. tuple didefiniskan dengan kurung dan lemen yang dipisahkan dengan koma

In [20]:
a =(2,"buku",3.5)

In [21]:
print(a)

(2, 'buku', 3.5)

In [22]:
print(a[1])

buku

In [23]:
print(a[0:2])

(2, 'buku')

In [24]:
print(a[0] = 10)

#tidak dpat diubah karena bersifat immutable

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3133224767.py, line 1)

TASK HARI RABU

In [12]:
x = "Myedusolve"

In [13]:
print(x)

Myedusolve

In [14]:
x[5]

's'

In [15]:
x[2:10]

'edusolve'

In [16]:
y =["p","y","t","h","o","n"]

In [17]:
print(y)

['p', 'y', 't', 'h', 'o', 'n']

In [18]:
y[0] = "s"

In [19]:
print(y)

['s', 'y', 't', 'h', 'o', 'n']