In [1]:
a = 10

In [2]:
type(a)

int

In [3]:
b = 1.7

yang membedakan antara interger dan float adalah tanda komanya di belakang angka desimal

In [5]:
a = 1

In [6]:
type(a)

int

In [7]:
b = 1.0

TAKS HARI SENIN

In [17]:
a = 10
b = 2.4

In [18]:
type(b)

float

karena python banyak digunakan juga oleh matematikawan, tipe bilangan di python juga mendukung bilangan imajiner dan bilangan kompleks.nilai bilangan kompleks di tuliskan delam formulasi x + yj, yakni x adalah bilangan real dan y adalah bilangan imajiner.

In [22]:
c = 1+2j

In [28]:
type(c)

complex

TASK2 HARI SENIN

In [26]:
d = 3 + 5j

In [35]:
type(d)

complex

contoh string

In [29]:
a = "hello word"

In [30]:
print(a)

hello word

In [31]:
type(a)

str

CONTOH > 1 LINE

In [32]:
a = """hello nama saya fitri.saya sekarang sedang menempuh studi independent.saya join studi independent bersama mitra MyEdusolve X Kampus merdeka.saya mengambil bidang Data Anayst"""

In [33]:
print(a)

hello nama saya fitri.saya sekarang sedang menempuh studi independent.saya join studi independent bersama mitra MyEdusolve X Kampus merdeka.saya mengambil bidang Data Anayst

In [34]:
type(a)

str

TASK 3 TIPE DATA STRING

In [43]:
b = "hello kami dari kelompok 2"

In [44]:
print(b)

hello kami dari kelompok 2

In [49]:
a = """kami sekarang sedang menempuh studi independent.kami join studi independent bersama mitra MyEdusolve X Kampus merdeka.kami mengambil bidang Data Anayst"""

In [55]:
print(a)

kami sekarang sedang menempuh studi independent.kami join studi independent bersama mitra MyEdusolve X Kampus merdeka.kami mengambil bidang Data Anayst

In [56]:
type(a)

str

In [58]:
a = "\nkami sekarang sedang menempuh studi independent. \nkami join studi independent bersama mitra MyEdusolve X Kampus merdeka. \nkami mengambil bidang Data Anayst"

In [59]:
print(a)

kami sekarang sedang menempuh studi independent.
kami join studi independent bersama mitra MyEdusolve X Kampus merdeka.
kami mengambil bidang Data Anayst

In [60]:
type(a)

str

TIPE DATA BOOLEAN dimana jawabannya hanya TRUE and FALSE

In [51]:
2 > 5

False

In [52]:
2 == 5

False

In [53]:
2<= 2

True

In [54]:
2 != 3

True